<div class="row footer shadow-sm">
  <div class="col">
    <h5>Seções</h5>
    <div class="row"><a href="#">Inicio</a></div>
    <div class="row"><a href="Produtos">Produtos</a></div>
    <div class="row"><a href="Atendimento">Atendimento</a></div>
  </div>
  <div class="col">
    <h5>Entre em contato conosco</h5>
    <div class="row">
      <span>Lojadamaria@gmail.com</span>
    </div>
  </div>
  <div class="col"></div>
  <div class="col">
    <h5>Sobre</h5>
    <div class="row">
      <p>Somos um site de vendas independente de produtos para os gamers de plantão.</p>
    </div>
  </div>
</div>
