<div class="container">
  <div class="row mt-5">
  <div class="col bg-white text-center">
    <img [src]="produtol.img" class="imgSize">
  </div>

  <div class="col cor1">
    <div class="row text-center positiontext"><h3>{{produtol.nome}}</h3></div>
    <div class="row ms-5">
    <div class="row"><span class="spandesc pt-3">Descrição:</span></div>
    <div class="row desc" style="margin-top:4px;"><p>{{produtol.desc}}</p></div>
    <div class="row preco2 ">{{produtol.precoAntigo}}</div>
    <div class="row">
      <div class="col "><h3>{{produtol.preco}}</h3></div>
    <div class="row positionB">
      <div class="d-grid gap-2">
        <button class="btn btn-lg btn-outline-dark" type="button">Adicionar ao Carrinho</button>
        <button class="btn btn-lg btn-dark" type="button">Comprar</button>
      </div>
    </div>>
  </div>
</div>
</div>
</div>


